.portfolio {
  &__filter {
    margin-bottom: 40px;
  }

  &__projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include mobile-l {
      justify-content: center;
    }
  }

  &__project {
    display: block;
    width: calc(50% - 30px);
    margin: 0 15px 30px;

    @include mobile-l {
      width: 300px;
      margin-bottom: 15px;
    }

    @include mobile-m {
      width: 100%;
    }
  }
}