.service {
  text-align: center;

  &__ico {
    font-size: 30px;
    color: $main-color;
  }

  &__label {
    margin: 15px 0 10px;
    font-size: 15px;
    font-weight: 700;
  }

  &__descr {
    padding: 0 35px;
    line-height: 20px;
    color: #999999;
  }
}