.social {
  @include tablet-and-phone {
    display: flex;
  }

  &__item {
    position: relative;
    border-bottom: 1px solid #eaeaea;
    background: $main-color;
    overflow: hidden;

    @include tablet-and-phone {
      border: {
        bottom: 0;
        right: 1px solid #eaeaea;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      transform-origin: 0 50%;
      background: #2a2a2a;
      transition: transform 0.23s ease;
    }

    &:hover {
      &:before {
        transform: scaleX(1);
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 20px;
  }

  &__ico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 12px;
    color: #fff;
  }
}