body {
  font-family: -apple-system,
    'BlickMacSystemFont',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 13px;
  @include regular;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1;
}