<footer class="footer page__footer">
  <div class="footer__inner">
    <ul class="social footer__social">
      <li class="social__item">
        <a class="social__link" href="#">
          <i class="social__ico fab fa-vk"></i>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <i class="social__ico fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <i class="social__ico fab fa-twitter"></i>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <i class="social__ico fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
    <div class="footer__copyright">
      <p>© Vlad Galko, 2016</p>
    </div>
  </div>
</footer>